extends _base

block content
	.posts
		for post in page.posts.toArray()
			if post.layout === 'event'
				article.post.post-compact.event
					.event-info
						| #{full_date(post.event_start)} - #{full_date(post.event_end)}
					h2.post-title
						a(href=url_for(post.path))= post.title
					if(post.exerpt)
						.post-excerpt!= post.excerpt
					else
						.post-excerpt!= post.content
			else
				article.post.post-compact
					h2.post-title
						a(href=url_for(post.path))= post.title
					if(post.exerpt)
						.post-excerpt!= post.excerpt
					else
						.post-excerpt!= post.content

	include _partial/post/list_pagination.pug
